.vscode
node_modules
dist
*.log
database.sqlite
uploads
.idea
src/**/*.js
src/**/*.jsx
src/**/*.d.ts
src/**/*.map

Chordate-linux-x64
Chordate-win32-x64
chordate-linux-x64
chordate-win32-x64
webpack.js
webpack.js.map
